<%- include("./partials/header") %> 
    <div class="flex_top">
        <div class="nav">
            <div class="top">
                <img src="./resources/images/it2.jfif" alt="user_image">
                    <h1 class="name"><%= user.username %> </h1>
                <h1 class="title"><%= user.role %> </h1>
            </div>
            <div class="bottom">
                <ul>
                    <% if(user.role == "Admin"){ %> 
                    <li class="sm">Staff Management</li>
                    <li><a href="/addStaff">Add Staff</a></li>
                    <li><a href="/searchStaff">Search Staff</a></li>
                    <li><a href="/manageSchedule">Manage Schedule</a></li>
                    <% } %> 
                    <li class="sm">Patient Management</li>
                    <li><a href="/searchPatient">Search Patient</a></li>
                    <% if(user.role == "Records"){ %> 
                        <li class="selected"><a href="/addPatient">Add Patient</a></li>
                    <% } %> 
                    <li><a href="/editInfo">Edit info</a></li>
                </ul>
                <div class="log">
                    <a class="lo" href="/logOut">LogOut</a>
                </div>
            </div>
        </div>
        <div class="main">
            <div class="add_staff">
                <h2 class="title">
                    Add New Patient
                </h2>
                <div class="form">
                    <form action="/addPatient" method="post">
                        <div class="name mb">
                            <div class="fullname">
                                <label for="">Full Name</label>
                                <input type="text" name="username" placeholder="Username" required>
                            </div>
                            <div class="dob">
                                <label for="">Date of birth</label>
                                <input type="date" name="dob" required>
                            </div>
                        </div>
                        <div class="gen mb">
                            <div class="gender">
                                <label class="mbs" for="">Gender</label>
                                <div class="g_ins">
                                    Male <input type="radio" value="male" name="gender" checked>
                                Female <input type="radio" value="female" name="gender">
                                </div>
                            </div>
                            <div class="role">
                                <label for="">Relationship Status</label>
                                <select name="maritalStatus" id="" required>
                                    <option value="Single">Single</option>
                                    <option value="Married">Married</option>
                                    <option value="Divorce">Divorced</option>
                                    <option value="Widow">Widowed</option>
                                </select>
                            </div>
                        </div>
                        <div class="others">
                            <div class="flex mb">
                                <div class="one mb">
                                    <label for="">Contact</label>
                                    <input type="tel" pattern="[0-9]{10}" name="contact" placeholder="Phone number" required>
                                </div>
                                <div class="two">
                                    <label for="">Patient ID</label>
                                    <input type="text" name="pID" placeholder="Assign unique ID" required value="P00">
                                </div>
                            </div>
                            <div class="flex mb">
                                <div class="one mb">
                                    <label for="">Address Line</label>
                                    <input type="text" name="address" placeholder="Enter Address" required>
                                </div>
                                <div class="one">
                                    <label for="">Emergency contact</label>
                                    <input type="tel" pattern="[0-9]{10}" name="emergency" placeholder="Enter Contact" required>
                                </div>
                            </div>
                            <div class="change">
                                <input type="submit" value="submit" class="submit">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <%- include("./partials/footer") %> 