<%- include("./partials/header") %> 
    <div class="flex">
        <div class="nav">
            <div class="top">
                <img src="./resources/images/it2.jpg" alt="user_image">
                <h1 class="name"><%= username %> </h1>
                <h1 class="title">Administrator</h1>
            </div>
            <div class="bottom">
                <ul>
                    <li class="sm">Staff Management</li>
                    <li><a href="">Add Staff</a></li>
                    <li><a href="">Search Staff</a></li>
                    <li><a href="">Manage Schedule</a></li>
                    <li class="sm">Patient Management</li>
                    <li><a href="">Search Patient</a></li>
                    <li><a href="">Add Staff</a></li>
                    <li><a href="">Add Staff</a></li>
                </ul>
                <div class="log">
                    <a class="lo" href="">LogOut</a>
                </div>
            </div>
        </div>
        <div class="main">

        </div>
    </div>
</body>
</html>