<%- include("./partials/header") %> 
    <div class="flex_top">
        <div class="nav">
            <div class="top">
                <img src="./resources/images/it2.jpg" alt="user_image">
                    <h1 class="name"><%= user.username %> </h1>
                <h1 class="title"><%= user.role %> </h1>
            </div>
            <div class="bottom">
                <ul>
                    <% if(user.role == "Admin"){ %> 
                    <li class="sm">Staff Management</li>
                    <li class="selected"><a href="/addStaff">Add Staff</a></li>
                    <li><a href="/searchStaff">Search Staff</a></li>
                    <li><a href="/manageSchedule">Manage Schedule</a></li>
                    <% } %> 
                    <li class="sm">Patient Management</li>
                    <% if(user.role == "Records"){ %> 
                        <li><a href="/addPatient">Add Patient</a></li>
                    <% } %> 
                    <li><a href="/searchPatient">Search Patient</a></li>
                    <li><a href="/editInfo">Edit info</a></li>
                </ul>
                <div class="log">
                    <a class="lo" href="/logOut">LogOut</a>
                </div>
            </div>
        </div>
        <div class="main">
            <div class="add_staff">
                <h2 class="title">
                    Add New Staff
                </h2>
                <div class="form">
                    <form action="/addStaff" method="post">
                        <div class="name mb">
                            <div class="fullname">
                                <label for="">Full Name</label>
                                <input type="text" name="username" placeholder="Username" required>
                            </div>
                            <div class="dob">
                                <label for="">Date of birth</label>
                                <input type="date" name="dob" required>
                            </div>
                        </div>
                        <div class="gen mb">
                            <div class="gender">
                                <label class="mbs" for="">Gender</label>
                                <div class="g_ins">
                                    Male <input type="radio" value="male" name="gender">
                                Female <input type="radio" value="female" name="gender">
                                </div>
                            </div>
                            <div class="role">
                                <label for="">Select role</label>
                                <select name="role" id="" required>
                                    <option value="Nurse">Nurse</option>
                                    <option value="Records">Records</option>
                                    <option value="Doctor">Doctor</option>
                                    <option value="Pharmacist">Pharmacist</option>
                                    <option value="Finance">Finance</option>
                                    <option value="OPD">OPD</option>
                                </select>
                            </div>
                        </div>
                        <div class="others">
                            <div class="flex mb">
                                <div class="one">
                                    <label for="">Nationality</label>
                                    <input type="text" name="nationality" placeholder="Nationality" required>
                                </div>
                                <div class="two">
                                    <label for="">Place of birth</label>
                                    <input type="text" name="pob" placeholder="Place of birth" required>
                                </div>
                            </div>
                            <div class="flex mb">
                                <div class="one">
                                    <label for="">Contact</label>
                                    <input type="text" name="contact" placeholder="Phone number" required>
                                </div>
                                <div class="two">
                                    <label for="">Email</label>
                                    <input type="email" name="email" placeholder="Enter Email" required>
                                </div>
                            </div>
                            <div class="flex mb">
                                <div class="one">
                                    <label for="">Address Line 1</label>
                                    <input type="text" name="address1" placeholder="Enter Address" required>
                                </div>
                                <div class="two">
                                    <label for="">Address Line 2</label>
                                    <input type="text" name="address2" placeholder="Enter Address">
                                </div>
                            </div>
                            <div class="flex mb">
                                <div class="one">
                                    <label for="">Emergency contact 1</label>
                                    <input type="text" name="emergency1" placeholder="Enter Contact" required>
                                </div>
                                <div class="two">
                                    <label for="">Emergency contact 2</label>
                                    <input type="text" name="emergency2" placeholder="Enter Contact">
                                </div>
                            </div>
                            <div class="flex mb">
                                <div class="one">
                                    <label for="">Password</label>
                                    <input type="password" name="password" placeholder="Enter New Password" required>
                                </div>
                                <div class="two">
                                    <label for="">Employee ID</label>
                                    <input type="text" name="empID" placeholder="Enter unique ID" required value="EMP00">
                                </div>
                            </div>
                            <div class="change">
                                <input type="submit" value="submit" class="submit">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <%- include("./partials/footer") %> 