<%- include("./partials/header") %> 
    <div class="container">
        <div class="form">
            <div class="head">
                <h4>Welcome to CMS</h4>
                <hr>
            </div>
            <form action="/login" method="post">
                <input type="text" placeholder="Username or ID" name="username">
                <input class="pass" type="password" placeholder="Password" name="password">
                <span class="view">view</span>
                <input class="btn" type="submit" value="Next">
            </form>
            <div class="fp">
                <a href="">forgot password?</a>
            </div>
        </div>
    </div>

    <%- include("./partials/footer") %> 