.mb{
    margin-bottom: 1rem;
}
.mbs{
    margin-bottom: .5rem;
}
.sb{
    display: flex;
    justify-content: space-between;
}
.btn{
    border: none;
    width: 150px;
    background-color: rgb(40, 192, 40);
    color: white;
    border-radius: 19px;
    padding: 9px 0px;
    cursor: pointer;
    box-shadow: 0px 0px 4px 0px rgb(104, 101, 101);
}
.selected{
    background-color: rgb(163, 162, 162);
}
.flex_top{
    display: flex;
    height: 100vh;
}
.nav{
    width: 20%;
    background-color: rgb(221, 216, 216);
}
.nav .top{
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nav .top img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
    box-shadow: 0px 0px 7px 0px rgb(58, 58, 58);
}
.nav .top .title{
    font-size: 1.2rem;
    color: rgb(58, 58, 58);
    text-transform: capitalize;
}
.nav .top .name{
    font-size: 1rem;
}
.nav .bottom ul li{
    list-style: none;
    margin: 10px 0px;
    padding: 3px 15px;
    transition: .2s ease-in-out;
    width: 80%;
    border-radius: 0px 15px 15px 0px;
}
.nav .bottom ul .sm{
    color: black;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 15px;
    width: 100%;
}
.nav .bottom ul .sm:hover{
    background-color: initial;
    width: initial;
}
.nav .bottom ul li a{
    text-decoration: none;
    color: rgb(37, 37, 37);
    transition: .2s ease-in-out;
}
.nav .bottom ul li:hover{
    background-color: rgb(37, 37, 37);
}
.nav .bottom ul li:hover a{
    color: white;
}
.nav .bottom .log{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.nav .bottom .lo{
    background-color: crimson;
    padding: 9px 30px;
    border-radius: 15px;
    text-decoration: none;
    color: white;
    box-shadow: 0px 0px 4px 0px rgb(104, 101, 101);
    transition: .2s ease;
}
.nav .bottom .lo:hover{
    font-weight: bold;
    color: green;
    background-color: transparent;
    box-shadow: 0px 0px 5px 0px rgb(37, 37, 37);
}
.main{
    width: 80%;
    background-color: white;
}
.main .add_staff{
    padding: 15px 30px;
}
.main .add_staff .title{
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
    color: rgb(37, 37, 37);
    margin-bottom: 1.5rem;
}
.main .add_staff .form{
    padding: 0;
}
.main .add_staff .form input{
    height: 30px;
    width: 300px;
    padding: 5px 7px;
    border: 1px solid rgb(163, 162, 162);
    border-radius: 3px;
    font-size: .9rem;
    transition: .1s ease-in;
}
.main .add_staff .form input:focus{
    outline: none;
    border: 2px solid rgb(104, 101, 101);
}
.main .add_staff .form input[type ="radio"]{
    height: initial;
    width: initial;
}
.main .add_staff .form .name{
    background-color: rgb(243, 235, 235);
    padding: 15px 50px;
    display: flex;
    justify-content: space-between;
    border-radius: 7px;
}
.main .add_staff .form .gen{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(243, 235, 235);
    border-radius: 7px;
    padding: 15px 50px;
}
.main .add_staff .form .gen .gender{
    display: flex;
    flex-direction: column;
}
.main .add_staff .form .gen .role select{
    width: 400px;
    height: 30px;
    padding: 3px 7px;
    font-size: .9rem;
    border-radius: 3px;
    cursor: pointer;
}
.main .add_staff .form .gen .role select:focus{
    outline: none;
    border: 2px solid rgb(104, 101, 101);
}
.main .add_staff .form .others{
    background-color: rgb(243, 235, 235);
    padding: 15px 50px;
    border-radius: 7px;
}
.main .add_staff .form .others .flex{
    display: flex;
    justify-content: space-between;
}
.main .add_staff .form .others .flex .one{
    display: flex;
    flex-direction: column;
}
.main .add_staff .form .others .flex .two{
    display: flex;
    flex-direction: column;
}
.main .add_staff .form .others .btn{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.main .add_staff .form .others .change input{
    height: 35px;
    width: 170px;
    border-radius: 15px;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition: .5s ease-in;
    text-transform: capitalize;
    background-image: linear-gradient(105deg, rgb(83, 235, 83), white);
}
.main .add_staff .form .others .btn input:hover{
    background-color: whitesmoke;
    background-image: none;
}
.main .add_staff .form .searches{
    background-color: rgb(243, 235, 235);
    padding: 15px 50px;
    border-radius: 7px;
    position: relative;
}
.main .add_staff .form .searches .results{
    position: absolute;
    width: 100%;
    border-radius: 7px;
    left: 0;
    background-color: rgb(243, 235, 235);
    top: 4.5rem;
}
.main .add_staff .form .searches .results a{
    text-decoration: none;
    color: black;
}
.main .add_staff .form .searches .results a:hover{
    color: green;
    text-decoration: underline;
}
.main .add_staff .form .searches .results a p{
    padding: 5px 25px;
    display: flex;
    justify-content: space-between;
}
.main .add_staff .form .searches .search{
    border: 1px solid rgb(104, 101, 101);
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    background-color: white;
}
.main .add_staff .form .searches .search img{
    height: 20px;
    margin: 5px;
}
.main .add_staff .form .searches .search input{
    border: none;
    width: 100%;
    border-radius: 15px;
    background-color: transparent;
    font-size: 1.2rem;
}
.main .add_staff .form .searches .sb .re{
    background-color: rgb(109, 109, 212);
}
.flex_top .list .cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.flex_top .list .cards a{
    text-decoration: none;
    color: black;
}
.flex_top .list .cards .card{
    width: 250px;
    margin: 10px 20px;
    padding: 10px 5px;
    text-align: center;
    text-transform: capitalize;
    border-radius: 7px;
    box-shadow: 0px 0px 5px 0px gray;
}
.umm{
    margin: 25px;
    display: flex;
    justify-content: center;
}
.umm input, .umm a{
    background-image: linear-gradient(105deg, rgb(83, 235, 83), white);
    border: none;
    cursor: pointer;
    color: black;
    text-decoration: none;
    text-transform: capitalize;
    border-radius: 15px;
    padding: 9px 15px;
}
